* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  }

.container-row {
    display: flex;
}

.container-column {
    display: flex;
    flex-direction: column;
 }

.boxed {
    max-width: 800px;
    margin: 0 auto;
}

ul  {
    list-style: none
}

header {
  background-color: rgb(255, 102, 0);
  max-height: 84px;
}

main {
  padding-top: 5%;
}

/* NAVBARCSS */

#logosizing {
  max-height: 30px;
}

.dimension-header {
  justify-content: space-between;
  padding: 3%;
}

.navcolorbar {
  color: white;
  font-size: large
  
}

#navtext {
  font-weight: 700;
  }

/* LAYOUT PRODUCTCSS */

.column-33 {
  width: 31%;

}

.flex-wrap {
  flex-wrap: wrap;
  gap: 2%;
}

.column-33 > img {
  width: 100%;
}

