* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  }

.container-row {
    display: flex;
}

.container-column {
    display: flex;
    flex-direction: column;
 }

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

ul  {
    list-style: none
}

header {
  background-color: rgb(255, 102, 0);
  max-height: 84px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

main {
  padding-top: 5%;
  padding-bottom: 5%;
}

footer {
  min-height: 50%;
  background-color: rgb(0, 0, 0);
}

h5 {
  padding-top: 3%;
  padding-bottom: 1em;
  font-size: medium;
}

hr {
  padding-top: 3%;
  padding-top: 3%;
  
}

/* NAVBARCSS */

#logo-sizing {
 max-height: 30px;
 padding-right: 10%;
}

.dimension-header {
    justify-content: space-between;
    padding: 2% 1% 2% 1%;
 
}

#nav-login {
    display: flex;
    height: 25px;
    padding-right: 2%;
  }

.nav-color-bar {
  color: white;
  font-size: large
}

#nav-text {
  font-weight: 700;
  }


/* LAYOUT PRODUCTS MAIN */

.column-33 {
  width: 31%;
  padding-bottom: 5%;
  position: relative;
  z-index: 1;
}

.flex-wrap {
  flex-wrap: wrap;
  gap: 2%;
}

.column-33 > img {
  width: 100%;
}

.color-text-red {
  color: red;
  font-weight: 700;
  padding-right: 1%;
}

.position-rel {
  position: relative;

}


.card-heart {
    background-color: white;
    position: absolute;
    height: 5%;
    width: 10%;
    font-size: x-large;
    padding-left: 3%;
    padding-top: 1%;
    top: 2%;
    right: 0; 
 }   
 
 .card-green {
    background-color: green;
    height: 4%;
    width: 30%;
    color: white;
    font-weight: 600;
    padding-top: 1.5%;
    padding-left: 2%;
    position: absolute;
    top: 68%;
    }

.card-red {
    width: 15%;
    background-color: red;
    height: 4%;
    color: white;
    font-weight: 600;
    padding-top: 1%;
    padding-left: 2%;
    position: absolute;
    top: 68%;
    }

.position-green-right {
  right: 54%;
}

.card-heart:hover { 
     color: red;
     background-color:  rgba(217, 217, 216, 1);;
}

/* FOOTERBAR */

.text-footer-white {
 color: white;
 padding-right: 2%;
 width: 50%;
}



.align-textend  {
  text-align: end;
}

.margin-navfoot {
   margin-right: 2%;
   }

.icon-social {
  background-color: white;
  max-width: 4%;
  }

